#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config SECURITY_LINK_DRV
	bool "seclink Driver Support"
	default n
	---help---
		Enable seclink Driver to support communication between HAL and security API.
